body {
  border: 5px solid;
  height:auto;
  width: 1000px;
  margin-left: 18%;
  margin-top: 40px;
  position: relative;
}
.header {
  background-color: red;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  position: absolute;
  text-align: center;
  height: 28px;
  width: 65px;
  top: -35px;
  left: -20px;
  cursor: pointer;
}
.info{
  padding-left: 20px;
  width: 450px;
}
.lastinfo{
  height: 100px;
  
}
main{
  display: flex;
}
img{
  float: left;
}
h1 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: rgb(241, 239, 239);
}
aside{
  display: flex;
  gap: 45%;
  padding-top: 10px;
}
.price {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.ship {
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-decoration: underline;
}
a:hover {
  color: black;
  text-decoration: none;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 25px;
}
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: white;
  height: 40px;
  margin: auto;
  width: 1000px;
  cursor: pointer;
  
}
button:hover {
  background-color: white;
  color: black;
}
.color {
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
  height: 20px;
  width: 20px;
}
.color-black {
  background-color: black;
  height: 20px;
  width: 20px;
}
.color-red {
  background-color: red;
  height: 20px;
  width: 20px;
}
.color-green {
  background-color: green;
  height: 20px;
  width: 20px;
}
.color-blue {
  background-color: blue;
  height: 20px;
  width: 20px;
}

.color-yellow {
  background-color: yellow;
  height: 20px;
  width: 20px;
}
.color-brown {
  background-color: brown;
  height: 20px;
  width: 20px;
}
footer{
  float: right;
  text-align: left;
}